openapi: 3.0.0
info:
  title: Google Doc to Markdown API
  version: 1.0.0
  description: API to list Google Docs in a folder and convert them to Markdown.
servers:
  - url: https://script.google.com/macros/s/{SCRIPT_ID}/exec
    variables:
      SCRIPT_ID:
        default: YOUR_SCRIPT_ID
        description: The ID of your deployed Google Apps Script Web App.
paths:
  /:
    get:
      summary: Get document list or a specific document content
      description: |
        If no `id` is provided, returns a list of all document IDs in the folder and preloaded content for the first 10 documents.
        If an `id` is provided, returns the content of that specific document.
      parameters:
        - name: id
          in: query
          description: The Google Doc ID.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response. Returns either a list of documents or a single document's content.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ArticleListResponse'
                  - $ref: '#/components/schemas/ArticleResponse'
                  - $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ArticleListResponse:
      type: object
      properties:
        ids:
          type: array
          description: List of all document IDs in the folder.
          items:
            type: string
        article_cache:
          type: array
          description: Content of the first 10 documents.
          items:
            $ref: '#/components/schemas/Article'
      required:
        - ids
        - article_cache
    ArticleResponse:
      $ref: '#/components/schemas/Article'
    Article:
      type: object
      properties:
        id:
          type: string
          description: The Google Doc ID.
        title:
          type: string
          description: The title of the document.
        markdown:
          type: string
          description: The content of the document converted to Markdown.
      required:
        - id
        - title
        - markdown
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message.
      required:
        - error
