openapi: 3.0.0
info:
  title: Google Doc to Markdown API
  version: 1.0.0
  description: API to list Google Docs in a folder and convert them to Markdown.
servers:
  - url: https://script.google.com/macros/s/AKfycbydcnw4yt5K8lz8Wf0PCbG6Q9yD3jf1W2lsGucOor2KII7duJr7qevcMiwNHJTe8GZH
    description: Production deployment of the Google Apps Script Web App.
paths:
  /exec:
    get:
      summary: Get document list or a specific document content
      description: |
        - If no parameters are provided, returns a list of all document IDs in the folder and preloaded content for the first 10 documents.
        - If an `id` is provided, returns the content of that specific document.
        - If `o=rss` is provided, returns an RSS 2.0 feed of the latest 50 articles.
      parameters:
        - name: id
          in: query
          description: The Google Doc ID.
          required: false
          schema:
            type: string
        - name: o
          in: query
          description: Output format. Set to 'rss' for RSS feed.
          required: false
          schema:
            type: string
            enum: [rss]
      responses:
        '200':
          description: Successful response. Returns document list, document content, or RSS feed.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ArticleListResponse'
                  - $ref: '#/components/schemas/ArticleResponse'
                  - $ref: '#/components/schemas/ErrorResponse'
            application/xml:
              schema:
                type: string
                description: RSS 2.0 XML feed.
components:
  schemas:
    ArticleListResponse:
      type: object
      properties:
        ids:
          type: array
          description: List of all document IDs in the folder.
          items:
            type: string
        article_cache:
          type: array
          description: Content of the first 10 documents.
          items:
            $ref: '#/components/schemas/Article'
      required:
        - ids
        - article_cache
    ArticleResponse:
      $ref: '#/components/schemas/Article'
    Article:
      type: object
      properties:
        id:
          type: string
          description: The Google Doc ID.
        title:
          type: string
          description: The title of the document.
        markdown:
          type: string
          description: The content of the document converted to Markdown.
      required:
        - id
        - title
        - markdown
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message.
      required:
        - error
